h1{
    color: white;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto
}
h3{
    text-align: center;
    color:#222c29;

}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


